{% extends 'base.html' %} {% block content %}
<div class="container-fluid">
    <div class="abt">
        <div class="row">
            <div class="col-md-6">
                <div id="about">
                    <h1>ABOUT US</h1>
                    <p>This is a website that enables the user to search and find their prefered residential.<br> We offer fantastic appartments with very good location, clean and have everything neceary. <br> The houses are quite secure and it has apeal
                        for investors and home buyers.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="pick">
                    <img src="../static/images/home1.jpg" alt="" width="700px">

                </div>
            </div>
        </div>
    </div>



</div>
<style>
    .abt {
        margin-top: 50px;
    }
    
    #about {
        text-align: center;
        margin-top: 100px;
        font-size: 20px;
        font-family: 'Merienda', cursive;
    }
    
    #about h1 {
        text-decoration: underline;
        color: gold;
    }
</style> {% endblock %}