<nav class="mb-1 navbar navbar-expand-lg blue-gradient fixed-top text-white">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333" aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
        <ul class="navbar-nav mr-auto text-white">
            <li class="nav-item ">
                <a class="nav-link" href="{{url_for('main.index')}}">Home
          </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown
                </a>

                <a class="nav-link" href="#">Umoja</a>

                <a class="nav-link" href="/">Kasarani</a>

                <a class="nav-link" href="/">Karen</a>


                <a class="nav-link" href="">Runda</a>


                <a class="nav-link" href="">Mlolongo</a>

                <a class="nav-link" href="">South C</a>


                <a class="nav-link" href="">Kibera</a>


                <a class="nav-link" href="">Others</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto text-white">
            {% if current_user.is_authenticated %}

            <li class="nav-item">
                <a class="nav-link" href="{{url_for('main.profile',username=current_user.username)}}"><span
              class="badge badge-primary"><i class="fas fa-user"></i> {{current_user.username | capitalize}}</span>
          </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('auth.logout')}}"><i class="fas fa-sign-out-alt"></i> Sign out
          </a>
            </li>
            {%else%}
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('auth.login')}}">Sign in
          </a>
            </li>
            {%endif%}
        </ul>
    </div>
</nav>