<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark secondary-color">
    <!-- Navbar brand -->
    <a class="navbar-brand" href="/">FIND A HOME
        <span class="sr-only">(current)</span>
    </a>
    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="basicExampleNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link text-light" href="/">Home <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/">About</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="/">Find a home</a>
                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/">KAREN</a>
                    <a class="dropdown-item " href="/">RUNDA</a>
                    <a class="dropdown-item " href="/">UMOJA</a>
                    <a class="dropdown-item " href="/">EMBAKASI</a>
                    <a class="dropdown-item " href="/">KASARANI</a>
                    <a class="dropdown-item " href="/">PIPELINE</a>


                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li>
                <a class="nav-link text-white pr-4" aria-haspopup="true" aria-expanded="false" href="{{url_for('main.profile',username=current_user.username)}}">🙎‍♂️Profile</a>
            </li>
            <li>
                <a class="nav-link text-white pr-4" aria-haspopup="true" aria-expanded="false" href="/">🙎‍♂️Subscribe</a>
            </li>
            <li>
                <a class="nav-link text-white pr-4" aria-haspopup="true" aria-expanded="false" href="/">Post Home</a>
            </li>

        </ul>
        <ul class="navbar-nav ml-auto">
            {% if current_user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="/">{{current_user.username}}</a>
                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{{url_for('auth.logout')}}">🙎‍♂️Logout</a> {% else %}
                    <a class="dropdown-item text-white" href="{{url_for('auth.login')}}">🙎‍♂️Login</a> {%endif%}
                </div>
            </li>
        </ul>
    </div>
</nav>